<div class="page-title">
  <h3>ユーザー一覧</h3>
</div>

<div class="main users-index">
  <div class="container">
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="index-user-image">
          <%= image_tag user.avatar %>
        </div>
        <%= link_to "#{user.name}", "/users/#{user.id}", data: { turbo: false }, class: "index-item2" %>
      </div>
    <% end %>
  </div>
</div>