<div class="container">
  <div class="comments-index-item">
    <%= safe_join(comment.content.split("\n"),tag(:br)) %>
    <div class="comment-time">
      <%= comment.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
    </div>
    <div class="comment-menus">
      <div class="comment-edit-menu" id='eliminate' >
        <%= button_to '削除', dummy_post_comment_path(comment) %>
      </div>
    </div>
  </div>
</div>
