<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentalBrain</title>
</head>
<body>
  <header>
    <div class="container">
      <img src="/東大頭脳.png" id="brain" class="hidden">
      <h1 class="hidden">Rental<br><span>Brain</span></h1>
      <div class="box1"></div>
      <h3 class="hidden">リサーチ検索代行サービス</h3>
      <ul id="header-menu" class="hidden">
        <li>
          <%= link_to 'ログイン', login_form_users_path, class: "hidden", data: { turbo: false } %>
        </li>
        <li>
          <%= link_to '新規登録', new_user_path, class: "hidden", data: { turbo: false } %>
        </li>
      </ul>
    </div>
  </header>
  <div class="about">
    <div class="container">
      <div class="title">
        <h3>about</h3>
      </div>
      <ul id="about-item">
        <li>
          <img src="/東大赤門.png" width="648" height="364">
          <div class="line1"></div>
          <p>製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。</p>
        </li>
        <li>
          <div class="line2"></div>
          <p>製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。</p>
          <img src="/東大脳デジタルデータ.png" width="648" height="364">
        </li>
        <li>
          <img src="/東大ビジネスマン.png" width="648" height="364">
          <div class="line1"></div>
          <p>製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="carousel">
    <div class="container">
      <ul>
        <li><img src="pic4.png" width="738" height="346"></li>
        <li><img src="pic1.png" width="738" height="346"></li>
        <li><img src="pic2.png" width="738" height="346"></li>
        <li><img src="pic3.png" width="738" height="346"></li>
        <li><img src="pic4.png" width="738" height="346"></li>
        <li><img src="pic1.png" width="738" height="346"></li>
      </ul>

      <button id="prev">&laquo;</button>
      <button id="next">&raquo;</button>

      <nav></nav>
    </div>
  </div>
  <div class="empty"></div>
</body>
</html>
