<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentalBrain</title>
</head>
<body>
  <header>
    <div class="container">
      <img src="東大頭脳.png">
      <h1>Rental<br><span>Brain</span></h1>
      <ul class="header-menus">
        <li>
          <a href="#">ログイン</a>
        </li>
        <li>
          <a href="#">新規登録</a>
        </li>
      </ul>
    </div>
  </header>
  <div class="about">
    <div class="container">
      <ul>
        <li>
          <img src="東大赤門.png">
          <p>製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。
            </p>
        </li>
        <li>
          <p>製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。
          </p>
          <img src="東大脳デジタルデータ.png">
        </li>
        <li>
          <img src="東大ビジネスマン.png">
          <p>製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。製作中。
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="carousel">
    <div class="container">
      <ul id="carouselId">
        <li><img src="pic4.png"></li>
        <li><img src="pic1.png"></li>
        <li><img src="pic2.png"></li>
        <li><img src="pic3.png"></li>
        <li><img src="pic4.png"></li>
        <li><img src="pic1.png"></li>
      </ul>

      <button id="prev">&laquo;</button>
      <button id="next">&raquo;</button>
    </div>
  </div>
  <div class="empty"></div>
</body>
</html>
