<div class="page-title">
  <h3>質問一覧</h3>
</div>

<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="posts-index-user-image">
          <%= image_tag post.user.avatar %>
        </div>
        <div class="posts-index-user-name">
          <%= post.user.name %>
        </div>
        <%= link_to "#{post.title}", post_path(post), data: { turbo: false }, class: "index-item" %>
        <div class="posts-index-reward">
          <%= "報酬額: #{post.reward}" %>
        </div>
        <% if post.answer %>
          <div class="posts-index-committed">
            <p>解決済</p>
          </div>
        <% else %>
          <div class="posts-index-commit">
            <p>未解決</p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>