/*** 投稿一覧 ******************************************************/
.main {
  width: 90%;
  margin: 2vw auto;
}

.posts-index {
  width: 70%;
}

.page-title h3 {
  padding: 1vw 0;
  font-size: 1.5vw;
  text-align: center;
  background: #ddd;
  margin-bottom: 5vw;
}

.posts-index-item {
  position: relative;
  color: #333;
  font-size: .9vw;
  letter-spacing: .05vw;
  border: .1vw solid #ddd;
  box-shadow: .3vw .3vw .3vw #eee;
  line-height: 1.5vw;
  border-radius: .3vw;
}

.posts-index-user-name {
  display: inline-block;
  position: absolute;
  margin: 2vw 0 1vw 1.5vw;
}

.posts-index-user-image {
  display: inline-block;
  width: 6vw;
  height: 6vw;
  max-width: 6vw;
  max-height: 6vw;
  border-radius: 50%;
  overflow: hidden;
  margin: .5vw .5vw .5vw 2vw;
}

.posts-index-user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.index-item {
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
  cursor: pointer;
  left: 0;
  padding: 3.5vw 0 0 10.5vw;
  z-index: 1;
}

.posts-index-reward {
  position: absolute;
  top: 1.5vw;
  right: 1vw;
}

.index-item:hover {
  background: rgba(238, 238, 255, .5);
}

.posts-index-commit {
  position: absolute;
  width: 8vw;
  height: 2vw;
  top: 3.5vw;
  right: 1vw;
  color: #fff;
  font-size: 1.2vw;
  margin-bottom: .5vw;
  border-radius: .2vw;
  background: linear-gradient(#faa, #f33);
}

.posts-index-committed {
  position: absolute;
  width: 8vw;
  height: 2vw;
  top: 3.5vw;
  right: 1vw;
  color: #fff;
  font-size: 1.2vw;
  margin-bottom: .5vw;
  border-radius: .2vw;
  background: linear-gradient(#aaf8aa, #1b1);
}

.posts-index-committed p,
.posts-index-commit p {
  color: #fff;
  text-align: center;
  line-height: 1.9vw;
  vertical-align: middle;
}

/*** 投稿詳細 ******************************************************/
.posts-show {
  font-size: 1vw;
  width: 80%;
}

.posts-show-item {
  position: relative;
  color: #333;
  border: .1vw solid #ddd;
  box-shadow: .3vw .3vw .3vw #eee;
  line-height: 1.5vw;
  padding: 2vw;
  font-size: .9vw;
  border-radius: .3vw;
}

.answer-show-item {
  position: relative;
  color: #333;
  border: .1vw solid #ddd;
  box-shadow: .3vw .3vw .3vw #eee;
  background-color: #fee;
  line-height: 1.5vw;
  margin-top: 3vw;
  padding: 2vw;
  font-size: .9vw;
  border-radius: .3vw;
}

.posts-user-image {
  display: inline-block;
  width: 6vw;
  height: 6vw;
  max-width: 6vw;
  max-height: 6vw;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 .5vw 0 2vw;
}

.posts-user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.posts-user-name {
  display: block;
  margin-left: 3vw;
  margin-bottom: 1vw;
}

.turn-back {
  text-align: center;
  font-size: 1.2vw;
  margin-top: 2vw;
}

.return:hover {
  color: #55f;
  border-bottom: .1vw solid #55f;
}

.posts-title {
  font-size: 1.2vw;
  font-weight: bold;
  margin-bottom: 2vw;
  padding-bottom: .3vw;
  border-bottom: .3vw solid #ccc;
}

.show-reward {
  position: absolute;
  top: 11vw;
  right: 3vw;
  font-size: .9vw;
}

.posts-time {
  line-height: 1vw;
  margin-top: 2vw;
}

.posts-menus {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.edit-menu {
  margin-right: .5vw;
}

.index-item {
  margin-right: .5vw;
}

#mask {
  background: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#modal {
  position: fixed;
  width: 30vw;
  height: 10vw;
  top: 15vw;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: .3vw;
  background: #fff;
  padding: 2vw;
  font-size: .9vw;
}

#modal .buttons {
  display: flex;
  justify-content: center;
}

#modal > p {
  margin-bottom: 1.5vw;
}

#modal .buttons {
  cursor: pointer;
}

#del {
  margin-right: .5vw;
}

#mask.hidden2,
#modal.hidden2 {
  display: none;
}

.dislike-btn {
  color: #c1cbd2;
}

.like-btn {
  color: #ff2581;
}

.answer-show-item .button_to,
.posts-show-item .button_to {
  display: inline;
}

.answer-show-item .fa,
.posts-show-item .fa {
  font-size: 1.2vw;
  margin-top: .5vw;
}

.answer-show-item p,
.posts-show-item p {
  display: inline;
  vertical-align: top;
}

#modal .buttons {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.button1 {
  display: inline-block;
  width: 8vw;
  height: 2.4vw;
  color: #fff;
  text-decoration: none;
  line-height: 2.4vw;
  text-align: center;
  font-size: 1.2vw;
  background: linear-gradient(#bbf, #77f);
  box-shadow: .1vw .1vw .1vw #aaa;
}

.button1:hover {
  filter: brightness(1.2);
}

.button1:active {
  transform: translate(.1vw, .1vw);
  box-shadow: none;
}

.button2 {
  display: inline-block;
  width: 8vw;
  height: 2.4vw;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 2.4vw;
  font-size: 1.2vw;
  background: linear-gradient(#f99, #f55);
  box-shadow: .1vw .1vw .1vw #aaa;
}

.button2:hover {
  filter: brightness(1.3);
}

.button2:active {
  transform: translate(.1vw, .1vw);
  box-shadow: none;
}

.button3 {
  display: inline-block;
  width: 8vw;
  height: 2.4vw;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 2.4vw;
  font-size: 1.2vw;
  background: linear-gradient(#5e5, #1a1);
  box-shadow: .1vw .1vw .1vw #aaa;
}

.button3:hover {
  filter: brightness(1.1);
}

.button3:active {
  transform: translate(.1vw, .1vw);
  box-shadow: none;
}

.lighten {
  background: linear-gradient(#8f8, #4c4);;
}

.button4 {
  display: inline-block;
  width: 8vw;
  height: 2.4vw;
  color: #fff;
  text-decoration: none;
  line-height: 2.4vw;
  text-align: center;
  font-size: 1.2vw;
  background: linear-gradient(#ddd, #999);
  box-shadow: .1vw .1vw .1vw #777;
  cursor: default;
  pointer-events: none;
}

.button5 {
  display: inline-block;
  width: 8vw;
  height: 2.4vw;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 2.4vw;
  font-size: 1.2vw;
  background: linear-gradient(#f99, #f55);
  box-shadow: .1vw .1vw .1vw #aaa;
}

.button5:hover {
  filter: brightness(1.3);
}

.button5:active {
  transform: translate(.1vw, .1vw);
  box-shadow: none;
}

/*** 新規投稿 ******************************************************/
.posts-new {
  position: relative;
  border: .1vw solid #ddd;
  border-radius: .3vw;
  box-shadow: .3vw .3vw .3vw #eee;
  width: 70%;
  height: 31vw;
  background: #eee;
  text-align: center;
}

.posts-new > .container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.form-error {
  line-height: 2vw;
  font-size: 1vw;
  color: red;
  display: inline;
}

.text-field-group {
  width: 100%;
  margin: 3vw auto 0 5.5vw;
  display: flex;
  flex: none;
  justify-content: left;
  align-items: start;
  width: 90%;
}

.text-area-group {
  width: 100%;
  height: 50%;
  margin: 1vw auto 1.5vw 5.5vw;
  display: flex;
  justify-content: left;
  align-items: start;
  width: 90%;
}

.number-field-group {
  width: 100%;
  margin: 1vw auto 0 5.5vw;
  display: flex;
  justify-content: left;
  align-items: start;
}

.number-field-group label {
  margin-right: .5vw;
  margin-top: .5vw;
}

.text-field-group label,
.text-area-group label {
  margin-right: .5vw;
  margin-top: .5vw;
}

.text-field {
  width: 90%;
  height: 2vw;
  border: .1vw solid #ccc;
  background: #fff;
  outline: none;
  padding: .5vw;
  font-size: .9vw;
  text-align: left;
}

.text-area {
  width: 90%;
  height: 100%;
  border: .1vw solid #ccc;
  background: #fff;
  resize: none;
  outline: none;
  line-height: 1.5vw;
  padding: .5vw;
  font-size: .9vw;
  text-align: left;
}

.number-field {
  width: 20%;
  height: 2vw;
  border: .1vw solid #ccc;
  background: #fff;
  outline: none;
  padding: .5vw;
  font-size: .9vw;
  text-align: left;
}

/*** 投稿内容確認 ******************************************************/
.confirm-item > .container {
  position: relative;
  width: 70%;
  height: 100%;
  padding: 2vw;
  margin-bottom: 5vw;
  border: .1vw solid #ddd;
  border-radius: .3vw;
  box-shadow: .3vw .3vw .3vw #eee;
  background: #eee;
  text-align: center;
}

.confirm-item .posts-title {
  text-align: left;
}

.confirm-reward {
  position: absolute;
  top: 2.4vw;
  right: 3vw;
  font-size: .9vw;
}

.confirm-item .confirm-content {
  text-align: left;
  margin: 0 0 3vw;
  line-height: 1.5vw;
  padding: .5vw;
  font-size: .9vw;
}

.confirm-item .button1 {
  margin-right: .5vw;
}

/*** 回答投稿 ******************************************************/
.answer-new {
  position: relative;
  border: .1vw solid #ddd;
  border-radius: .3vw;
  box-shadow: .3vw .3vw .3vw #eee;
  width: 70%;
  height: 31vw;
  background: #eee;
  text-align: center;
}

.answer-new > .container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.form-error2 {
  line-height: 2vw;
  font-size: 1vw;
  color: red;
  display: inline;
}

.text-area-group2 {
  width: 100%;
  height: 60%;
  margin: 3vw auto 1.5vw 5.5vw;
  display: flex;
  justify-content: left;
  align-items: start;
  width: 90%;
}

.text-area-group2 label {
  margin-right: .5vw;
  margin-top: .5vw;
}

.text-area2 {
  width: 90%;
  height: 100%;
  border: .1vw solid #ccc;
  background: #fff;
  resize: none;
  outline: none;
  line-height: 1.5vw;
  padding: .5vw;
  font-size: .9vw;
  text-align: left;
}

turbo-frame {
  border: 1px red solid;
  display: block;
}

turbo-frame::before {
  content: "Frame: #" attr(id);
  position: relative;
  top: -14px;
  right: -4px;
  display: inline-block;
  color: red;
  font-size: 12px;
  z-index: 9999;
  background-color: white;
  padding: 4px;
  border: 1px red solid;
}