/*** 投稿一覧 ******************************************************/
.main {
  width: 90%;
  margin: 2vw auto;
}

.header0 {
  position: relative;
  display: flex;
  background: #55f;
}

.header0 ul {
  display: flex;
  position: absolute;
  flex: float;
  right: 2vw;
  padding: 1vw;
}

.header0 ul li {
  margin-right: 2vw;
}

.header-logo {
  padding: 1vw;
  /* background: linear-gradient(to right, #55f, #aaf); */
}

.header-link1 {
  font-size: 2vw;
  color: #fff;
}

.header-link2 {
  font-size: 1vw;
  color: #fff;
}

.page-title h3 {
  padding: 1vw 0;
  font-size: 1.5vw;
  text-align: center;
  letter-spacing:.1vw;
  background: #ddd;
  margin-bottom: 5vw;
}

.posts-index-item {
  color: #333;
  font-size: .9vw;
  letter-spacing: .1vw;
  padding: 1vw;
  border: .1vw solid #ddd;
  box-shadow: .3vw .3vw .3vw #eee;
  line-height: 2vw;
  border-radius: .3vw;
}

/*** 投稿詳細 ******************************************************/
.posts-show {
  font-size: 1vw;
  width: 80%;
}

.posts-show-item {
  color: #333;
  font-size: .8vw;
  letter-spacing: .1vw;
  padding: 1vw;
  border: .1vw solid #ddd;
  box-shadow: .3vw .3vw .3vw #eee;
  line-height: 2vw;
  border-radius: .3vw;
}

.turn-back {
  text-align: center;
  font-size: 1.2vw;
  margin-top: 2vw;
}

.posts-title {
  font-size: 1.2vw;
  font-weight: bold;
  margin-bottom: 1vw;
}
.posts-time {
  line-height: 1vw;
  margin-top: 2vw;
}

.posts-menus {
  font-display: inline-block;
  text-align: right;
  margin-right: 1vw;
}

.pm-edit {
  margin-right: .5vw;
}

/*** 新規投稿 ******************************************************/
.posts-new {
  /* position: relative; */
  border: .1vw solid #ddd;
  border-radius: .3vw;
  box-shadow: .3vw .3vw .3vw #eee;
  width: 70%;
  height: 28vw;
  background: #eee;
  text-align: center;
}

.posts-new .container {
  position: relative;
}

.form-error {
  line-height: 2vw;
  font-size: 1vw;
  color: red;
  display: inline;
}

.main .text-field {
  width: 90%;
  height: 2vw;
  border: .1vw solid #ccc;
  background: #fff;
  margin: 0 auto;
  margin-top: 3vw;
  display: block;
  flex: left;
  outline: none;
  padding: .7rem .7rem;
  /* font-size: 1.3rem; */
  letter-spacing: .07rem;
  text-align: left;
}

.main .text-area {
  width: 90%;
  height: 50%;
  border: .1vw solid #ccc;
  display: block;
  margin: 0 auto;
  margin-top: 1.5vw;
  margin-bottom: 2vw;
  background: #fff;
  resize: none;
  outline: none;
  line-height: 2rem;
  padding: .7rem .7rem;
  /* font-size: 1.3rem; */
  letter-spacing: .07rem;
  text-align: left;
}

.posts-new .input1 {
  color: #fff;
  font-size: 1.2vw;
  padding: .5vw 3vw;
  background: linear-gradient(#aaf, #77f);
  box-shadow: .1vw .1vw .1vw #aaa;
}

.posts-new .input1:active {
  transform: translate(.1vw, .1vw);
  box-shadow: none;
}