/*** 投稿一覧 ******************************************************/
.main {
  width: 90%;
  margin: 2vw auto;
}

.header0 {
  position: relative;
  display: flex;
  background: #55f;
}

.header0 ul {
  display: flex;
  position: absolute;
  flex: float;
  right: 2vw;
  padding: 1vw;
}

.header0 ul li {
  margin-right: 2vw;
}

.header-logo {
  padding: 1vw;
  /* background: linear-gradient(to right, #55f, #aaf); */
}

.header-link1 {
  font-size: 2vw;
  color: #fff;
}

.header-link2 {
  font-size: 1vw;
  color: #fff;
}

.header-link1:hover,
.header-link2:hover {
  color: #aaf
}

.page-title h3 {
  padding: 1vw 0;
  font-size: 1.5vw;
  text-align: center;
  letter-spacing:.1vw;
  background: #ddd;
  margin-bottom: 5vw;
}

.posts-index-item {
  color: #333;
  font-size: .9vw;
  letter-spacing: .05vw;
  /* padding: 1vw; */
  border: .1vw solid #ddd;
  box-shadow: .3vw .3vw .3vw #eee;
  line-height: 1.5vw;
  border-radius: .3vw;
}

.index-item {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  padding: 1vw;
}

.index-item:hover {
  background: #eef;
}


/*** 投稿詳細 ******************************************************/
.posts-show {
  font-size: 1vw;
  width: 80%;
}

.posts-show-item {
  color: #333;
  border: .1vw solid #ddd;
  box-shadow: .3vw .3vw .3vw #eee;
  line-height: 1.5vw;
  padding: 2vw;
  font-size: .9vw;
  letter-spacing: .05vw;

  border-radius: .3vw;
}

.turn-back {
  text-align: center;
  font-size: 1.2vw;
  margin-top: 2vw;
}

.return:hover {
  color: #55f;
  border-bottom: .1vw solid #55f;
}

.posts-title {
  font-size: 1.2vw;
  font-weight: bold;
  margin-bottom: 2vw;
  padding-bottom: .3vw;
  border-bottom: .3vw solid #ccc;
}

.posts-time {
  line-height: 1vw;
  margin-top: 2vw;
}

.posts-menus {
  font-display: inline-block;
  text-align: right;
  margin-right: 1vw;
}

.pm-edit {
  margin-right: .5vw;
}

.pm-edit:hover {
  color: #55f;
  border-bottom: .1vw solid #55f;
}

/*** 新規投稿 ******************************************************/
.posts-new {
  /* position: relative; */
  border: .1vw solid #ddd;
  border-radius: .3vw;
  box-shadow: .3vw .3vw .3vw #eee;
  width: 70%;
  height: 28vw;
  background: #eee;
  text-align: center;
}

.posts-new .container {
  position: relative;
}

.form-error {
  line-height: 2vw;
  font-size: 1vw;
  color: red;
  display: inline;
}

.main .text-field {
  width: 90%;
  height: 2vw;
  border: .1vw solid #ccc;
  background: #fff;
  margin: 0 auto;
  margin-top: 3vw;
  display: block;
  flex: left;
  outline: none;
  padding: .5vw;
  font-size: .9vw;
  letter-spacing: .05vw;
  text-align: left;
}

.main .text-area {
  width: 90%;
  height: 50%;
  border: .1vw solid #ccc;
  display: block;
  margin: 0 auto;
  margin-top: 1.5vw;
  margin-bottom: 2vw;
  background: #fff;
  resize: none;
  outline: none;
  line-height: 1.5vw;
  padding: .5vw;
  font-size: .9vw;
  letter-spacing: .05vw;
  text-align: left;
}

.input1 {
  color: #fff;
  font-size: 1.2vw;
  padding: .5vw 3vw;
  background: linear-gradient(#aaf, #77f);
  box-shadow: .1vw .1vw .1vw #aaa;
}

.input1:hover {
  background: linear-gradient(#ccf, #99f);
}

  .input1:active {
  transform: translate(.1vw, .1vw);
  box-shadow: none;
}

/*** 投稿確認 ******************************************************/
.confirm-item .container {
  width: 70%;
  height: 100%;
  padding: 2vw;
  margin-bottom: 5vw;
  border: .1vw solid #ddd;
  border-radius: .3vw;
  box-shadow: .3vw .3vw .3vw #eee;
  background: #eee;
  text-align: center;
}

.confirm-item .posts-title {
  text-align: left;
}

.confirm-item .confirm-content {
  text-align: left;
  margin: 0 0 3vw;
  line-height: 1.5vw;
  padding: .5vw;
  font-size: .9vw;
  letter-spacing: .05vw;
}

.confirm-item .input1 {
  margin: 0 .5vw;
}
