* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: #333;
  font-family: '游ゴシック';
}

h1 {
  font-weight: bold;
}

p, a {
  line-height: 2.1vw;
  color: #333;
}

body {
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/*** ヘッダーのCSS **************************************************/
header {
  position: relative;
  width: 100%;
  height: 100%;
}

header .container {
  margin: 0 auto;
  margin-bottom: 10%;
  overflow: hidden;
}

header .container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 5s, transform 2s;
}

#brain.hidden {
  opacity: 0;
  transform: translateX(20vw);
}

header .container h1 {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 8vw;
  left: 2.8vw;
  color: #3333ff;
  font-size: 8vw;
  line-height: 8vw;
  text-shadow: 1vw 1vw 1vw rgba(50, 50, 50, .5);
  transition: opacity 1s .5s, transform 1s .5s, text-shadow 1s 1.5s;
}

header .container h1.hidden {
  opacity: 0;
  transform: translateY(16vw);
  text-shadow: 1vw 1vw 1vw rgba(255, 255, 255, 1);
}

header .container h3 {
  font-size: 2vw;
  color: #3333ff;
  position: absolute;
  top: 26vw;
  left: 8vw;
  text-shadow: .5vw .5vw .5vw rgba(50, 50, 50, .5);
  transition: opacity 1s 1.5s, transform 1s 1.5s, text-shadow 1s 2s;
}

header .container h3.hidden {
  opacity: 0;
  transform: translateX(-3vw);
  text-shadow: .5vw .5vw .5vw rgba(255, 255, 255, 1);
}

#header-menu {
  opacity: 1;
  transition: opacity 1s 2.5s;
}

#header-menu.hidden {
  opacity: 0;
}

header .container span {
  margin-left: 13.2vw;
}

header .container .box1 {
  background: #fff;
  position: absolute;
  top: 25vw;
  left: 2.7vw;
  width: 36vw;
  height: 16vw;
}

header .container ul {
  list-style-type: none;
  position: absolute;
  top: 32vw;
  left: 17vw;
  font-size: 1.4vw;
}

header .container ul li {
  text-decoration: none;
  margin-bottom: .7vw;
}

/*** aboutのCSS **************************************************/
.about .container {
  width: 90%;
  padding-bottom: 5vw;
}

.about .container .title h3 {
  width: auto;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3vw;
  color: #3333ff;
}

.about .container .title {
  width: 100%;
  margin-bottom: 3vw;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

.about .container .title.appear {
  opacity: 1;
  transform: translateY(0);
}

.about .container ul {
  height: 100%;
  list-style: none;
}

.about .container ul li {
  display: flex;
  margin-bottom: 6.94vw;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

.about .container ul li.appear {
  height: 100%;
  opacity: 1;
  transform: translateY(0);
}

.about .container ul li img {
  width: 45%;
  height: 45%;
  object-fit: cover; 
  padding: 0;
  margin: 0 2.1vw;
  box-shadow: 1vw 1vw .5vw rgb(150, 150, 150, .7);
}

.about .container ul li p {
  font-size: 1vw;
  letter-spacing: 1px;
  padding: .7vw;
  margin: 0;
  width: 50%;
}

.about .container ul li .line1 {
  width: 1vw;
  height: 8vw;
  margin-top: 1vw;
  background: #3333ff;
}

.about .container ul li .line2 {
  width: 1vw;
  height: 10vw;
  margin-top: 1vw;
  background: #3333ff;
}

/*** カルーセルのCSS **************************************************/
.carousel {
  width: 100%;
  padding: 5vw 0;
  background: linear-gradient(to top, #55f, #aaf);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

.carousel.appear {
  opacity: 1;
  transform: translateY(0);
}

.carousel .container {
  position: relative;
  width: 70%;
  display: block;
  overflow: hidden;
}
.carousel .container ul {
  list-style: none;
  display: flex;
  height: 35vw;
  transform: translate(-100%, 0);
}

.ul-transition {
  transition: transform .3s;
}

.carousel .container li {
  min-width: 100%;
}

.carousel .container li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(0, 0, 0, .8);
  color: #fff;
  font-size: 2vw;
  padding: 0 .7rem;
  cursor: pointer;
}

#prev:hover,
#next:hover {
  opacity: .8;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

nav {
  width: 100%;
  height: 2.1vw;
  display: flex;
  justify-content: center;
}

nav button {
  width: 1.1vw;
  height: 1.1vw;
  background: #ddd;
  margin: 1vw .5vw;
  border-radius: 50%;
  cursor: pointer;
}

nav .current {
  background: #999;
}

.empty {
  width: auto;
  height: 2vw;
}

/*** ヘッダー ******************************************************/
.header0 {
  position: relative;
  display: flex;
  background: #55f;
}

.header0 ul {
  display: flex;
  position: absolute;
  flex: float;
  right: 2vw;
  padding: 1vw;
}

.header0 ul li {
  margin-right: 2vw;
}

.header-logo {
  padding: 1vw;
  /* background: linear-gradient(to right, #55f, #aaf); */
}

.header-link1 {
  font-size: 2vw;
  color: #fff;
}

.header-link2 {
  font-size: 1vw;
  color: #fff;
}

.header-link1:hover,
.header-link2:hover {
  color: #aaf
}
